---
layout: page
permalink: impressum/
title: Impressum
---
<p>nach §6 <acronym title="Teledienstgesetz">TDG</acronym></p>
<p>Anbieter und Verantwortlicher für diese Internet-Domain im Sinne des § 6 des <a href="http://www.netlaw.de/gesetze/tdg.htm">Gesetzes über die Nutzung von Telediensten (TDG)</a>, des Gesetzes zur Regelung der Rahmenbedingungen für <a href="http://www.netlaw.de/gesetze/iukdg.htm">Informations- und Kommunikationsdienste (IuKDG)</a> und bezüglich redaktioneller Inhalte, des Presserechts, sowie des § 6 II des <a href="http://www.netlaw.de/gesetze/mdstv.htm">Staatsvertrages über Mediendienste (MDStV)</a> ist:</p>

<p><address>Johannes Müller<br/>
Ostendstraße 1<br/>
36103 Flieden<br/>
<a href="mailto:johannes.mueller@smj-fulda.org" title="Mail an johannes.mueller@smj-fulda.org senden">johannes.mueller@smj-fulda.org</a><br/>
</address></p>

<h2>Rechtliche Hinweise</h2>
<p>Die auf dieser Webseite bereitgestellten Informationen sind sorgfältig geprüft und werden regelmäßig aktualisiert. Dennoch kann keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der zur Verfügung gestellten Informationen und Software übernommen werden. Gleiches gilt auch für den Inhalt der Websites, auf die mittels Hyperlink verwiesen wird. Für den Inhalt der Websites, die auf Grund einer solchen Verbindung erreicht werden, ist der Betreiber dieser Website nicht verantwortlich. Dass die Links weder gegen Sitten noch Gesetze verstoßen, wird im Rahmen der uns zur Verfügung stehenden Möglichkeiten geprüft.</p>
<p>Für die hier dargebotenen Informationen wird kein Anspruch auf Vollständigkeit, Aktualität, Qualität und Richtigkeit erhoben. Es kann keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen. Die eingestellten Forenbeiträge werden von einem Moderatoren-Team regelmässig überprüft. Eine vollständige und lückenlose Überprüfung ist jedoch nicht immer möglich und vom Gesetzgeber nicht vorgesehen.</p>

<p>Personenbezogene Daten werden bei in der Regel nicht erhoben, oder nur mit Wissen und Einwilligung des Nutzers. Auf Antrag erhalten Sie unentgeltlich Auskunft zu den über Sie gespeicherten personenbezogenen Daten. Wenden Sie sich dazu bitte an den oben genannten Ansprechpartner.</p>
<p>Die Verwendung dieser und aller anderen auf dieser Homepage bekannt gemachten eMail-Adressen und Post-Adressen zum Zwecke der Werbung (z.B. Zusendung von SPAM) oder der Markt- und Meinungsforschung ist gemäß <a href="http://www.netlaw.de/gesetze/bdsg.htm">Bundesdatenschutzgesetz §28 Abs. 3 und Abs. 4</a> untersagt.</p>

<p>Gemäß § 28 BDSG widerspreche ich jeder kommerziellen Verwendung und Weitergabe auf diese Website veröffentlichter Daten. Abgrenzung: Die Web-Präsenz ist Teil des World Wide Web und dementsprechend mit fremden, sich jederzeit wandeln könnenden Web-Sites verknüpft, die folglich auch nicht diesem Verantwortungsbereich unterliegen und für die nachfolgende Informationen nicht gelten.</p>

<h3>Urheberschutz und Nutzung</h3>
<p>Wenn nicht ausdrücklich anders vermerkt, liegen die Urheberrechte für entsprechend schutzfähige Beiträge bei dem jeweiligen Verfasser.</p>
<p>Falls Sie vermuten, dass von dieser Website aus eines Ihrer Schutzrechte verletzt wird, teilen Sie dies bitte umgehend per elektronischer Post mit, damit zügig Abhilfe geschaffen werden kann. Bitte nehmen Sie zur Kenntnis: Die zeitaufwändigere Einschaltung eines Anwaltes zur für den Seitenbetreiber kostenpflichtigen Abmahnung entspricht nicht dessen wirklichen oder mutmaßlichen Willen.</p>
<p>Alle verwendeten Warenzeichen und Copyrights sind Eigentum ihrer jeweiligen Besitzer.</p>

<h2>Haftungsausschluss</h2>
<dl>
<dt>Inhalt des Onlineangebotes</dt>
<dd>Der Autor übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen. Haftungsansprüche gegen den Autor, welche sich auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden, sind grundsätzlich ausgeschlossen, sofern seitens des Autors kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt.Alle Angebote sind freibleibend und unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu veründern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</dd>
<dt>Verweise und Links</dt>
<dd>Bei direkten oder indirekten Verweisen auf fremde Webseiten (”Hyperlinks”), die außerhalb des Verantwortungsbereiches des Autors liegen, würde eine Haftungsverpflichtung ausschließlich in dem Fall in Kraft treten, in dem der Autor von den Inhalten Kenntnis hat und es ihm technisch möglich und zumutbar wäre, die Nutzung im Falle rechtswidriger Inhalte zu verhindern.Der Autor erklärt hiermit ausdrücklich, dass zum Zeitpunkt der Linksetzung keine illegalen Inhalte auf den zu verlinkenden Seiten erkennbar waren. Auf die aktuelle und zukünftige Gestaltung, die Inhalte oder die Urheberschaft der verlinkten/verknüpften Seiten hat der Autor keinerlei Einfluss. Deshalb distanziert er sich hiermit ausdrücklich von allen Inhalten aller verlinkten /verknüpften Seiten, die nach der Linksetzung verändert wurden. Diese Feststellung gilt für alle innerhalb des eigenen Internetangebotes gesetzten Links und Verweise sowie für Fremdeinträge in vom Autor eingerichteten Gästebüchern, Diskussionsforen, Linkverzeichnissen, Mailinglisten und in allen anderen Formen von Datenbanken, auf deren Inhalt externe Schreibzugriffe möglich sind. Für illegale, fehlerhafte oder unvollständige Inhalte und insbesondere für Schäden, die aus der Nutzung oder Nichtnutzung solcherart dargebotener Informationen entstehen, haftet allein der Anbieter der Seite, auf welche verwiesen wurde, nicht derjenige, der über Links auf die jeweilige Veröffentlichung lediglich verweist.</dd>
<dt>Urheber- und Kennzeichenrecht</dt>
<dd>Der Autor ist bestrebt, in allen Publikationen die Urheberrechte der verwendeten Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu beachten, von ihm selbst erstellte Bilder, Grafiken, Tondokumente, Videosequenzen und Texte zu nutzen oder auf lizenzfreie Grafiken, Tondokumente, Videosequenzen und Texte zurückzugreifen.Alle innerhalb des Internetangebotes genannten und ggf. durch Dritte geschützten Marken- und Warenzeichen unterliegen uneingeschränkt den Bestimmungen des jeweils gültigen Kennzeichenrechts und den Besitzrechten der jeweiligen eingetragenen Eigentümer. Allein aufgrund der bloßen Nennung ist nicht der Schluss zu ziehen, dass Markenzeichen nicht durch Rechte Dritter geschützt sind!Das Copyright für veröffentlichte, vom Autor selbst erstellte Objekte bleibt allein beim Autor der Seiten. Eine Vervielfältigung oder Verwendung solcher Grafiken, Tondokumente, Videosequenzen und Texte in anderen elektronischen oder gedruckten Publikationen ist ohne ausdrückliche Zustimmung des Autors nicht gestattet.</dd>
<dt>Datenschutz</dt>
<dd>Sofern innerhalb des Internetangebotes die Möglichkeit zur Eingabe persönlicher oder geschäftlicher Daten (Emailadressen, Namen, Anschriften) besteht, so erfolgt die Preisgabe dieser Daten seitens des Nutzers auf ausdrücklich freiwilliger Basis. Die Inanspruchnahme und Bezahlung aller angebotenen Dienste ist – soweit technisch möglich und zumutbar – auch ohne Angabe solcher Daten bzw. unter Angabe anonymisierter Daten oder eines Pseudonyms gestattet. Die Nutzung der im Rahmen des Impressums oder vergleichbarer Angaben veröffentlichten Kontaktdaten wie Postanschriften, Telefon- und Faxnummern sowie Emailadressen durch Dritte zur Übersendung von nicht ausdrücklich angeforderten Informationen ist nicht gestattet. Rechtliche Schritte gegen die Versender von sogenannten Spam-Mails bei Verstössen gegen dieses Verbot sind ausdrücklich vorbehalten.</dd>
<dt>Rechtswirksamkeit dieses Haftungsausschlusses</dt>
<dd>Dieser Haftungsausschluss ist als Teil des Internetangebotes zu betrachten, von dem aus auf diese Seite verwiesen wurde. Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.</dd>
</dl>
