<p>Seit 2005 existiert dieser Kreis. Tobias Kress übernahm zunächst die Leitung, die er Ende 2006 jedoch, aufgrund eines Auslandsstudiums in Australien an Alexander Dücker weitergeben musste.</p>
<!--break-->
<div class="section">
<p>Unser Kreis bestseht zur Zeit aus 9 Mitgliedern:</p>
<ul class="2col">
<li>Kreisleiter: Alexander Dücker</li>
<li>Geistlicher Begleiter: Pater Thomas Jochheim</li>
<li>Florian Wiegand</li>
<li>Jonas Busold</li>
<li>Denny Orth</li>
<li>Lukas Goldbach</li>
<li>Christoph Schopp</li>
<li>Christian Schopp</li>
<li>David Heil</li>
</ul>
</div>
<div class="section">
<p>Bis jetzt haben wir an unseren Kreistagungen, die dreimal jährlich stattfinden, folgende Themen behandelt:</p>
<ol>
<li>Gemeinschaft</li>
<li>Lebensschule</li>
<li>Liebesbündnis</li>
<li>Gebet</li>
<li>Pater Josef Kentenich</li>
<li>Franz Reinisch</li>
</ol>
</div>
<p>Das Ziel der Kreisarbeit ist die Ausbildung der Kreismitglieder zu Gruppenführern, die dann als Betreuer mit ins Zeltlager fahren und Gemeinschaftswochenenden betreuen. Die Behandlung von schönstattspezifischen Themen soll zu einer tieferen Beziehung zur Gottesmutter führen. So wollen wir zu einer innigen Gemeinschaft zusammenwachsen. Im kommenden Jahr werden wir versuchen einen Namen für unseren Kreis zu finden.</p>
<p>Unser Motto lautet: <q>One band, one sound.</q></p>
