<div class="section">
  <p><em>Leiter: Benny und Alex</em></p>
  <p>Zu den Ritter Mariens gehören:</p>
  <ul>
    <li>Thomas L.</li>
    <li>Christian S.</li>
    <li>Kilian M.</li>
    <li>Philipp M.</li>
    <li>Niklas A.</li>
    <li>Steffen B.</li>
    <li>Christoph S.</li>
    <li>Niklas R.</li>
    <li>David K.</li>
    <li>Lukas G.</li>
    <li>Sebastian M.</li>
    <li>Thomas R.</li>
  </ul>
  <p>Wir sind ein Kreis in dem sich viele unterschiedliche Charaktere gefunden haben. Durch unsere Freundschaft ist in unseren Kreis ein enges Band der Verbundenheit entstanden. Wir versuchen unsere Kreisleben untereinander zu stärken, Deswegen haben wir den Ritter als Symbol unseres Kreises gewählt. Er drückt unsere Stärke im Glauben und unsere Treue zu Maria am Besten aus!</p>
  <p>In den Jahren, in den unser Kreis jetzt schon existiert haben wir viel voneinander und über unseren Glauben gelernt. Wir wollen auch in Zukunft aktiv bleiben und zu apostolischen Zeugen werden.</p>
</div>
<div class="section">
  <h3>Benni:</h3>
  <p>Unser Kreis entstand im Dezember 2004 vor unserem letzten Zeltlager. Damals waren wir noch über 10 Leute. Heute sind davon noch 8 übrig. Verbunden mir unserem Symbol, dem Ritter, sind wir die &bdquo;Ritter Mariens&ldquo;! In 2007 sind wir zusammen mit dem Kreis Alexander zu unserer ersten Kreisfahrt nach Schönstatt gefahren. Nachdem wir im Mai 2007 alle eine Gruppenleiterschulung absolvierten, ging es&nbsp; auch schon los und 3 von uns sahen ihr erstes Zeltlager als Gruppenführer vor sich.</p>
</div>
<div class="section">
  <h3>Alex:</h3>
  <p>2005 starteten wir unseren Kreis mit 14 Mitgliedern und unserem damaligen Kreisführer Tobias Kress. Im Januar des Jahres 2007 verließ Tobias uns, um ein Jahr in Australien zu verbringen. Sein Ersatz, Alex Dücker, übernimmt den Kreis bis heute. In 2007 sind wir zusammen mit dem Kreis Benjamin zu unserer ersten Kreisfahrt nach Schönstatt gefahren.</p>
</div>
<div class="section">
  <h3>zusammen Benni + Alex:</h3>
  <p>Seit 2008 arbeiten unsere Kreise zusammen, da beim Alexander-Kreis nur noch 3 aktive Mitglieder übrig geblieben waren. In 2008 waren 6 von uns als Gruppenleiter im Zeltlager dabei und der gesamte Kreis besuchte die Nacht des Heiligtums in Schönstatt. 2009 stellten wir 4 Gruppenleiter und 2 Joker beim Zeltlager in Schönstatt, ebenso einen ZBV.</p>
  <p>Trotz der Tatsache, dass wir einer der älteren Kreise sind, ist es erfreulich, dass immer noch so viele von uns bei zahlreichen Aktionen, wie Zeltlager, GeWos, Regiofahrt, Fest des Glaubens, Nacht des Heiligtums usw. aktiv sind.</p>
</div>
