{{img|kreise/pioniere/Bildstock007.jpg|Die Pioniere mit dem neu errichteten Bildstock|thumb}}
<p>Der Kreis der Pioniere setzt sich zusammen aus einer Ansammlung verschiedener Charaktere, die über das Heiligtum miteinander verbunden sind. Sie stammen aus den Jahrgängen 1988 und 1989. Der Kreis besteht nun schon seit 2002, als er mit 16&nbsp;Mitgliedern unter Kreisführer René Kohl und geistlichem Leiter Pfarrer Dr. Dagobert Vonderau im Heiligtum in Dietershausen gegründet wurde.</p>
<p>Die Pioniere haben es sich zum Ziel gesetzt, Wegbereiter und Brückenbauer für alle zu sein, die den Weg zu Gott beschreiten wollen. In Intensiver Arbeit mit Themen sowohl aus dem schönstätterischen als auch dem alltäglichen Bereich haben sie sich eine Grundlage geschaffen, um dieser Aufgabe gerecht zu werden.</p>
<p>Während den Kreistagungen wurden jedoch auch andere Arbeiten geleistet. So wurde der SMJ-Bildstock, der Jahre zuvor vom Josefskreis hergerichtet worden war mit einem Josef-Engling-Stein erweitert und erneut renoviert.</p>
<p>Mittlerweile hat sich der Kreis auf eine geringere Mitgliederzahl konzentriert, die innerhalb der SMJ Fulda als Gruppenleiter für Gemeinschaftswochenenden und das jährliche Zeltlager tätig sind.</p>
