<div class="section">
  <p>Unser Kreis ist momentan der älteste immer noch bestehende Kreis. Mitglieder sind:</p>
  <ul>
    <li>Tobias Büdel</li>
    <li>Ullrich Schott</li>
    <li>Klaus Schmidt</li>
    <li>Johannes Müller</li>
  </ul>
  <p>Kreisleiter ist Thomas Stey.</p>
</div>
