<p>Der Alte-Hasen-Arbeitskreis (kurz AHAk) besteht aus ehemaligen SMJ-lern und älteren Kreismitgliedern, den so genannten Alten Hasen. Ziel des Arbeitskreises ist es, auch nach oder neben der aktiven SMJ-Tätigkeit den Kontakt zueinander zu pflegen, einander wiederzusehen.</p>
<p>Die Treffen des AHAk beginnen meist mit der sonntagabendlichen &quot;Schlappmess&quot; um 18:30 Uhr im Fuldaer Dom. Anschließend steht dann ein gemütliches Programm in wechselnden, örtlichen Lokalitäten bzw. Gaststätten an.</p>
