<p>Gemeinschaftswochenenden finden dreimal im Jahr im Schönstatt-Zentrum Dietershausen statt. Dabei bieten wir ein buntes Programm für Jungs von 9 bis 13 Jahren, bei dem wir zwar auch auf Spiel, Spaß und Gemeinschaft setzen, aber als Schwerpunkt thematische Einheiten zu religiösen Themen einbringen. Wichtig ist uns dabei die Übermittlung christlicher Werte und die Erziehung zu freien Persönlichkeiten mit einer Festigkeit im Glauben.</p>
<p>Zusammen mit dem&nbsp;Zeltlager bilden die Gemeinschaftswochenenden unser Freizeitangebot für 9 bis 13 jährige. Die drei Gemeinschaftswochenenden und das Zeltlager stehen jedes Jahr unter einem bestimmten Thema, das sich als roter Faden durch alle Veranstaltungen zieht. Thematisch bilden die vier Tagungen eine teilweise aufeinander aufbauende Einheit, aber jede kann auch einzeln besucht werden.</p>
