<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://smj-fulda.org/forum" title="SMJ-Fulda Forum"><img alt="" src="/files/icons/Comments.png" /></a></div>
  <h3>Forum</h3>
  <p>Das <strong>SMJ-Forum,</strong> immer ein Besuch wert für die neusten Infos, Diskussionen und Gespräche. Einfach anmelden oder einloggen unter <a href="http://smj-fulda.org/forum"><strong>smj-fulda.org/forum</strong></a><strong>.</strong></p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://www.flickr.com/photos/tags/smjfulda/" title="SMJ-Fulda bei Flickr"><img alt="" src="/files/icons/flickr_128.png" /></a></div>
  <h3>Bilder</h3>
  <p>Die neusten Bilder haben wir immer in unserer <a href="/bilder"><strong>Bildergalerie</strong></a> aufgelistet und sind bei Flickr zu finden.</p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="/interaktiv/links" title="SMJ-Fulda Weblinks"><img alt="" src="/files/icons/heart_128.png" /></a></div>
  <h3>Weblinks</h3>
  <p>Bei unseren <a href="/interaktiv/links"><strong>Weblinks</strong></a> haben wir Links aufgeführt zu Seiten von wichtigen und empfehlenswerten Organisationen, Verbänden, Einrichtungen oder Veranstaltungen.</p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://twitter.com/smjfulda" title="SMJ-Fulda bei Twitter"><img alt="" src="/files/icons/twitter_128.png" /></a></div>
  <h3>Twitter</h3>
  <p>Die SMJ-Fulda ist jetzt auch bei <strong>Twitter</strong> unterwegs! Immer schön aktuell bleiben und <a href="http://twitter.com/smjfulda">@smjfulda</a> verfolgen.</p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://www.facebook.com/pages/SMJ-Fulda/242848884290" title="SMJ-Fulda bei Facebook"><img alt="" src="/files/icons/facebook_128.png" /></a></div>
  <h3>Facebook</h3>
  <p>Auch bei <strong>Facebook</strong> sind wir vertreten: <a href="http://www.facebook.com/pages/SMJ-Fulda/242848884290">SMJ-Fulda</a> &mdash; <strong>werde ein Fan!</strong></p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://mail.google.com/a/smj-fulda.org/" title="SMJ-Fulda Webmail"><img alt="" src="/files/icons/gmail_128.png" /></a></div>
  <h3>Webmail</h3>
  <p>Mit unserem <a href="http://mail.google.com/a/smj-fulda.org/"><strong>SMJ-Webmail-Client</strong></a> kann man ganz einfach seine E-Mails von smj-fulda.org abrufen und verwalten.</p>
  <p><strong>Noch keine SMJ-Adresse?</strong> Dann wende dich an den Administrator und du kannst auch eine schicke @smj-fulda.org E-Mail-Adresse bekommen!</p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="http://gruppenleiter-wiki.de" title="Gruppenleiter-Wiki"><img alt="" src="/files/imagecache/full/images/logos/739-gruppenleiter-wiki-(logo)-wiki-logo.jpg" /></a></div>
  <h3>Gruppenleiter-wiki</h3>
  <p>Das <a href="http://gruppenleiter-wiki.de"><strong>Gruppenleiter-Wiki</strong></a> sammelt Wissen über (Zelt-)Lager- und Jugendarbeit im Allgemeinen, sowie nach schönstättischer Art und steht für alle Engagierten in der Jugendarbeit offen.</p>
</div>
<div class="section" style="overflow: auto;">
  <div class="image left"><a href="/contact" title="SMJ-Fulda Kontaktformular"><img alt="" src="/files/icons/Contact.png" /></a></div>
  <h3>Kontakt</h3>
  <p>Unser <a href="/contact"><strong>Kontaktformular</strong></a> bietet die Möglichkeit zur Kontaktaufnahme mit den Verantwortlichen der SMJ bzw. dieser Website.</p>
</div>
