<p>Diese Führungsköpfe leiten die Schönstatt-Mannesjugend in unserer Diözese zusammen mit weiteren Mitgliedern der Diözesankonferenz.</p>
<!--break-->
<div class="MessageBox">
[img id=254 caption="Tobias Büdel" title="Tobias Büdel (Diözesanführer)"]
<h3>Diözesanführer</h3>
<div class="content">
<p><strong>Tobias Büdel</strong> ist seit November 2007 Diözesanführer und Ansprechpartner der SMJ-Fulda. Er koordiniert und organisiert die verschiedenen Veranstaltungen und Aktionen der SMJ.</p>
<address><span title="Adresse">Königsbergstraße 38
63637 Jossgrund</span>
<span title="Telefon">+49 6059 1779</span>
<a href="mailto:dioezesanfuehrer@smj-fulda.org" title="E-Mail an Tobias Büdel">Dioezesanfuehrer@smj-fulda.org</a></address>
<br class="clear" />
</div>
</div>
<div class="MessageBox">
[img id=255 caption="Ulrich Schäfer" title="Ulrich Schäfer, Standesleiter"]
<h3>Standesleiter</h3>
<div class="content">
<p><strong>Ulrich Schäfer</strong>, Pfarrer in Somborn, ist Standesleiter der SMJ-Fulda und war während seiner Zeit als Bischofssekretär jahrelang unser Lagerpriester.</p>
<address><span title="Telefon">+49 6055 93120</span></address>
</div>
</div>
<div class="MessageBox">
[img id=251 caption="Dagobert Vonderau" title="Dagobert Vonderau, geistlicher Leiter"]
<h3>Geistlicher Mitarbeiter</h3>
<div class="content">
<p><strong>Dr. Dagobert Vonderau</strong>, Pfarrer in St.&nbsp;Lukas Aschenberg (Fulda) ist geistlicher Mitarbeiter der SMJ-Fulda und geistlicher Leiter des <a href="aktionen/kreise/die-pioniere">Pionierkreises</a>.</p>
<address><span title="Telefon">+49 661 51462</span>
<a href="mailto:" title="E-Mail an Pfarrer Vonderau">dagobert.vonderau@tiscali.de</a></address>
</div>
</div>
