<p>Unter diesen Links gibt es Seiten, die wir als empfehlenswert einstufen:</p>
<?php
$links = array(
  'Schönstattjugend' => array(
    'Mannesjugend' => 'http://www.schoenstatt-mannesjugend.de',
    'MäJu Fulda' => 'http://www.maeju-fulda.de/',
    'SMJ-Mainz' => 'http://www.smj-mainz.de',
    'Schönstattjugend Würzburg' => 'http://schoenstattjugend-wuerzburg.de',
    'Nacht des Heiligtums' => 'http://www.nachtdesheiligtums.de/'
  ),
  'Schönstatt' => array(
    'Zentrale' => 'http://www.schoenstatt.de',
    'Weitere Links' => array('http://www.schoenstatt.net', 'http://schoenstatt-youth.com'),
    'Spurensuche' => 'http://spurensuche.info',
    'Virtuelles Heiligtum' => 'http://www.virtuelles-heiligtum.com/',
    'Kruggaben' => 'http://www.jugend.heilige-stadt.at/',
    'Junges Schönstatt' => 'http://junges-schoenstatt.de/'
  ),
  'Bistum' => array(
    'Bistum Fulda' => 'http://www.bistum-fulda.de',
    'Weltjugendtag im Bistum Fulda' => 'http://wjt-fulda.de',
    'Priesterseminar Fulda' => 'www.priesterseminar-fulda.de',
    'Fest des Glaubens' => 'http://www.festdesglaubens.de'
  ),
  'Region' => array(
    'Osthessennews' => 'http://osthessennews.de',
    'Schöne Nachrichten' => 'http://schoene-nachrichten.de'
  ),
  'Kirche' => array(
    'Vatikan' => 'http://www.vatican.va',
    'Nachrichten' => array('http://www.zenit.org', 'http://www.kath.net'),
    'Weltjugendtag' => array('http://www.weltjugendtag.org', 'http://wyd2002.org'),
    'Christliche Werbepostkarten' => 'http://www.jesusnow.de',
    'Radio &amp; Fernsehen im Internet' => array('http://www.domradio.de', 'http://www.radio-horeb.de', 'http://www.ewtn.com'),
    'Kathtube' => 'http://kathtube.de'
  ),
  'Jugendverbände' => array(
    'Gruppenleiter-Wiki' => 'http://gruppenleiter-wiki.de',
    'Katholische Jugend im Bistum Fulda' => 'http://www.kjf-fulda.de',
    'Jugendwerk St. Michael' => 'http://www.jugendwerk-st-michael.de',
    'OMI-Jugend' => 'http://www.omi-jugend.de',
    'Malteserjugend' => 'http://www.malteserjugend-fulda-dgs.de/'
  )
);
//-moz-column-count: 2; -moz-column-gap: 1.5em
foreach ($links as $section => $items){
  ?>
<div class="MessageBox">
<h3><?=$section?></h3>
<div class="content">
<ul style="">
<?php
  foreach($items as $name => $links){
    ?>
  <li><strong><?=$name?>:</strong>
<?
        if(! is_array($links)){
          $links = array($links);
        }
        $a = array();
        foreach($links as $link){
          $a[] = sprintf('<a class="external" href="%s" title="%s">%s</a>', $link, $name, $link);
        }
        print join($a, ", ");
      ?>
  </li>
    <?
  }
?>
</ul>
</div>
</div>
<?
}
?>
