[photo id=4309487256]
<p>Die <strong>Schönstatt-Bewegung</strong> ist eine internationale geistliche Erneuerungsbewegung in der katholischen Kirche. Ursprungsort wie geistlicher Mittelpunkt ist Schönstatt, ein Ortsteil von Vallendar bei Koblenz, Deutschland. Die föderal aufgebaute Schönstatt-Bewegung wird koordiniert durch das sogenannte Generalpräsidium, das seinen Sitz in Schönstatt hat.</p>
<!--break-->
<p>Das Ziel des Gründers <a href="node/18">Josef Kentenich</a> war es, der Kirche und dem Glauben der Christen ein neues, modernes Gesicht zu geben. Schönstatt kann gewissermaßen als Vision Kentenichs verstanden werden, wie die Kirche in Zukunft aussehen könnte, wenn sie nicht verstauben und weiterhin Menschen zu Jesus führen will.</p>
<p>Die Schönstatt-Bewegung ist heute in über 60 Ländern der Erde verbreitet, neben Deutschland sind vor allem die südamerikanischen Staaten von großer Bedeutung. Weltweit gibt es über 180 Schönstatt-Zentren mit Schönstattkapellchen, einer originalgetreuen Nachbildung des Urheiligtums in Schönstatt.</p>

[gwikimore lemma="Schönstatt-Bewegung"]

<h2>Schönstatt</h2>
[coordinate NS=50.402486 EW=7.627559 type=landmark region=DE-RP]
<p><strong>Schönstatt</strong> selbst ist ein Stadtteil der Stadt Vallendar bei Koblenz und ein katholischer Wallfahrtsort.</p>
<p>Im Umfeld der dortigen Pallottiner-Niederlassung entstand 1914 die Schönstatt-Bewegung, deren geistiger und symbolischer Mittelpunkt die ehemalige Michaelskapelle als so genanntes <strong>Urheiligtum</strong> wurde. Inzwischen sind in Schönstatt als spirituellem Zentrum und Mittelpunkt der internationalen Schönstattbewegung zahlreiche religiöse Bildungshäuser entstanden und Menschen aus aller Welt kommen zu religiösen Veranstaltungen.</p>

<h2>Der Gründer</h2>
<p><strong>Josef Kentenich <abbr title="Societas Apostolatus Catholici">SAC</abbr></strong> (* 16. November 1885 in Gymnich bei Köln; † 15. September 1968 in Schönstatt) war Pater in der Gesellschaft der Pallottiner, einer Ordensgemeinschaft päpstlichen Rechts, und ist Gründer der internationalen <a href="/node/49">Schönstattbewegung</a>.</p>
<p>Am 19. April 1914 gründete er in Schönstatt bei Vallendar zusammen mit einigen der ihm anvertrauten Studenten eine Marianische Kongregation, aus der das heutige Schönstattwerk hervorging. Der 18. Oktober 1914 gilt als Gründungstag, an dem er in der Michaelskapelle einen Vortrag vor seinen Studenten hielt.</p>
<p>Einen Einschnitt für die Schönstattfamilie des Bistums Fulda bedeutete der <a href="node/9#gruendungsurkunde">Besuch von Pater Josef Kentenich in Dietershausen</a>. Hier unterzeichnete er am 22. Januar 1967 eine Urkunde, die mit Recht als Gründungs-Urkunde der Schönstatt-Mannesjugend im Bistum Fulda bezeichnet werden kann. Verwahrt wird sie bis heute vom jeweils amtierenden Diözesanführer der Mannesjugend.</p>

[gwikimore lemma="Josef Kentenich"]
