<div class="section">
  <p>Die Mannesjugend richtet sich speziell an männliche Kinder und Jugendliche, die Schwesterorganisation <em>Schönstatt-Mädchenjugend</em> an weibliche. Diese Trennung ist in der auf dem Schönstatt-Gründer <a href="node/18">Pater Josef Kentenich</a> beruhenden Kentenich-Pädagogik begründet, die die getrennte, geschlechtsspezifische Erziehung von Jungen und Mädchen bevorzugt.</p>
</div>
<p>Als Grundpfeiler der SMJ gelten die <a href="/säulen">Fünf Säulen der Mannesjugend</a>: <a href="/säulen#gemeinschaft"><em>Gemeinschaft</em></a>, <a href="/säulen#lebensschule"><em>Lebensschule</em></a>, <a href="/säulen#liebesbündnis"><em>Liebesbündnis</em></a>, <a href="/säulen#mannsein"><em>Mannsein</em></a> und <a href="/säulen#apostolat"><em>Apostelsein</em></a>.</p>
<div class="section">
  <h3>Diözesanführung</h3>
  <p>Die Diözesanführung der SMJ Fulda besteht seit November 2007 aus dem Diözesanführer <a href="/mitarbeiter/tobias-b%C3%BCdel">Tobias Büdel</a> und dessen Stellvertreter <a href="/mitarbeiter/klaus-schmitt">Klaus Schmitt</a>, durch Wiederwahl am 14. November 2009 mittlerweile in zweiter Amtszeit. Unterstützung erhalten die beiden von unserem Kassenführer <a href="/mitarbeiter/ren%C3%A9-kohl">René Kohl</a>, der sich um die Finanzen kümmert. Standesleiter der SMJ-Fulda ist <a href="/mitarbeiter/ulrich-sch%C3%A4fer">Pfrarrer Ulrich Schäfer</a> aus Somborn und war während seiner Zeit als Bischofssekretär jahrelang unser Lagerpriester. Daneben wirken auch <a href="/mitarbeiter/thomas-jochheim">P.&nbsp;Thomas Jocheim</a>, Sandesleiter der SMJ-Deutschland, (insbesondere als Lagerpriester) und <a href="/mitarbeiter/dagobert-vonderau">Pfarrer Dr. Dagobert Vonderau</a> aus St. Lukas Aschenberg (Fulda) als geistliche Mitarbeiter. Komplettiert wird die Diözesanführung von den sechs Kreisführern.</p>
  <p>Weitere Informationen zu unserem Team befinden sich auf der Seite <a href="/mitarbeiter">Mitarbeiter</a>.</p>
</div>
<p>[gwikimore lemma=&quot;Schönstatt-Mannesjugend Fulda&quot;]</p>
