[coordinate NS=50.50491135492333 EW=9.79306697845459 type=landmark region=DE-HE display=page]
<div class="section">
<p>Unser Schönstattzentrum liegt mitten im Naturpark Hessische Rhön zwischen Wasserkuppe, Milseburg und der Barockstadt Fulda auf der Marienhöhe im Erholungsort Dietershausen.
</p>
<p>Neben dem Zentrum der Schönstatt-Bewegung im Bistum
Fulda haben auch die Schönstätter Marienschwestern mehrerer Diözesen hier ihr Provinzhaus.</p>
<!--break-->
[photo id=4223177565]
<p>Das <a href="node/688">Josef-Engling-Haus</a> eignet sich für Tagungen, Ferienaufenthalte oder Exerzitien, die Schönstätter Marienschwestern laden immer wieder herzlich ein.</p>
</div>
<p>Besuchen Sie auch die <a href="http://www.dietershausen.de/schoenstatt/">Website des Schönstattzentrums</a>.</p>

<h3>Karte</h3>
<div style="margin: auto; width: 640px;">
<iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.de/maps?f=d&amp;source=s_d&amp;saddr=&amp;daddr=Josef-Engling-Haus+Marienh%C3%B6he+1+D-36093+Dietershausen&amp;geocode=&amp;hl=de&amp;mra=ls&amp;sll=50.505362,9.792938&amp;sspn=0.005118,0.009259&amp;ie=UTF8&amp;t=k&amp;ll=50.504597,9.792595&amp;spn=0.003275,0.006866&amp;z=17&amp;output=embed"></iframe><br /><small><a href="http://maps.google.de/maps?f=d&amp;source=embed&amp;saddr=&amp;daddr=Josef-Engling-Haus+Marienh%C3%B6he+1+D-36093+Dietershausen&amp;geocode=&amp;hl=de&amp;mra=ls&amp;sll=50.505362,9.792938&amp;sspn=0.005118,0.009259&amp;ie=UTF8&amp;t=k&amp;ll=50.504597,9.792595&amp;spn=0.003275,0.006866&amp;z=17" style="color:#0000FF;text-align:left">Größere Kartenansicht</a></small>
</div>

<h3>Adresse</h3>
<div class="address-holder">
<address><strong>Provinzhaus</strong>
Marienhöhe 4
D-36093 Dietershausen
Tel: +49 6656 981-0
Fax: +49 6656 981-50
Mail: <a href="mailto:schoenstatt.dietershausen@t-online.de">schoenstatt.dietershausen@t-online.de</a>
</address>
<address><strong>Josef-Engling-Haus</strong>
Marienhöhe 1
D-36093 Dietershausen
Tel: +49 6656 9602-0
Fax: +49 6656 9602-25
Mail: <a href="mailto:englinghaus.dietershausen@t-online.de">englinghaus.dietershausen@t-online.de</a>
</address>
</div>

<h2>Unser Kapellchen</h2>
[photo id=4226673862]
<p>Unser Schönstattkapellchen ist eine Nachbildung des Urheiligtums in Schönstatt, in dem Pater Kentenich die Schönstattbewegung gründete.
Weltweit gibt es 185 dieser Kapellchen in nationalen und internationalen Zentren der Schönstattbewegung, wovon 56 in Deutschland stehen.</p>

<p>Als Altarbild ist in allen Kapellchen die Darstellung von Maria und Jesuskind, ein Nachdruck des Gemäldes <em>Zuflucht der Sünder</em> des italienischen Malers Crosio, die in Anlehnung an die Bewegung in Ingolstadt MTA-Bild (<q lang="la">Mater Ter Admirabilis</q>, lat. <em>Dreimal wunderbare Mutter</em>) genannt wird. Um das Gnadenbild ist die Inschrift <q lang="la">servus mariae nunquam peribit</q> (lat. <em>Ein Diener Mariens wird niemals zu Grunde gehen</em>) angebracht.</p>

<p>Unser direkt beim Zentrum gelegenes Schönstattheiligtum lädt stets zu Gebet und Stille ein und ist im Sommer von 6:15&nbsp;Uhr bis 21:00&nbsp;Uhr geöffnet, im Winter von 6:15&nbsp;Uhr bis circa 18:00&nbsp;Uhr.</p>

<h2>Heilige Messe</h2>
<!--[img file="anbetung im heiligtum-border.jpg" type=false float=right width=20em]-->
<dl>
<dt>Heiligtum</dt>
<dd>Im Kapellchen werden keine regelmäßigen Messen gehalten, daher bitte vorher erkundigen, wann die nächste stattfindet.</dd>
<dt>Gott-Vater-Kirche (Provinzhaus)</dt>
<dd>
<ul>
<li>Werktags: 7:00&nbsp;Uhr</li>
<li>Sonntags: 10:30&nbsp;Uhr</li>
</ul>
</dd>
[gwikimore lemma="Schönstattzentrum Dietershausen"]
